*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Oswald', sans-serif;
    line-height: 1.1;
}
img{
    max-inline-size: 100%;
    block-size: auto;
}

.container{
    width: 90%;
    max-width: 1300px;
    margin:  0 auto;
}

header{
    background-color: #000;
    padding: 1em 0;
    display: none;
}

.header{
    text-align: center;
    padding: 3em 0;
}

.header_text .header_two{
    font-size: clamp(3rem, 0.875rem + 1vw, 5rem);
}

.header_desc{
    font-size: 1rem;

}

.header h6 span{
    background-color: black;
    color: #fff;
    padding: .1em .5em;
    margin-left: .5em;
}

.hero{
    position: relative;
    display: block;
}
.hero_img{
    width: 100%;
    height: auto;
}




.hero_text{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.hero_text h1{
    font-size: 6rem;
    color: #fff;
    letter-spacing: 5px;
    margin-bottom: 0;
}

.hero_text .name_tag{
    font-size: 2rem;
    

}
.fashion_tag{
    display: none;
    margin-top: .5em;
}
.subscribe_label{
    display: inline-block;
    margin-top: 3em;

}
.subscribe_label  button{
    display: block;
    padding: 1em .8em;
    font-size: clamp(1rem , .875rem + 1vw, 1.5rem);
    text-transform: uppercase;
    background-color: rgb(255, 255, 255, .5);
    border: none;
    cursor: pointer;


}

.blogs-container{
    background-color: #eee;
    padding: 3em 0;
}

.blog-container{
    width: 80%;
    margin: 0 auto;
}


.blog{
    background-color: #fff;
    text-align: center;
    padding: 3em 0;
}

.blog + .blog{
    margin-top: 2em;
}

.blog_img{
    width: 100%;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.likeBtn{
    padding: .3em 1em;
    background-color: transparent;
    border: 1px solid #000;
    font-size: 30px;
}

.replies{
    background-color: #000;
    color: #fff;
}

.rep-span{
    background-color: #fff;
    color: #000;
    padding: 0 .7em;
    margin-left: .3em;
}

.buttons button{
    font-size: clamp(1rem, .875rem + 1vw, 2rem)
}

.comments{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin:  0 auto;
    row-gap: 50px;
}



.comment img{
    width: 200px;
    object-fit: cover;
    aspect-ratio: 1/ 1.1;
       
}

hr{
    width: 100%;
    margin: 3em  0;
}

.reply span{
    margin-left: 1em;
    opacity: .7;
    
}

@media (min-width: 800px){
    .hero_text .name_tag{
        font-size: 3rem;
    }

    .fashion_tag{   
        display: block;
    }

    header{
        display: block;
    }

    .comment{
        display: flex;
    }

    


}
