*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
}

h1, h2, h3, h4, h5{
    font-family: 'Oswald', sans-serif;
    line-height: 1.1;
}
img{
    max-inline-size: 100%;
    block-size: auto;
}

.container{
    width: 80%;
    max-width: 1300px;
    margin:  0 auto;
}

header{
    background-color: #000;
    padding: 1em 0;
    display: none;
}

.header{
    text-align: center;
    padding: 3em 0;
    background: #fff;
}

.header_text .header_two{
    font-size: clamp(3rem, 0.875rem + 1vw, 5rem);
}

.header_desc{
    font-size: 1rem;

}

.header h6 span{
    background-color: black;
    color: #fff;
    padding: .1em .5em;
    margin-left: .5em;
}
.blog-container{
    margin: 0;
}
.hero{
    position: relative;
    display: block;
}
.hero_img{
    width: 100%;
    height: auto;
}




.hero_text{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.hero_text h1{
    font-size: 6rem;
    color: #fff;
    letter-spacing: 5px;
    margin-bottom: 0;
}

.hero_text .name_tag{
    font-size: 2rem;
    color: #000;
    

}
.fashion_tag{
    display: none;
    margin-top: .5em;
}
.subscribe_label{
    display: inline-block;
    margin-top: 3em;

}
.subscribe_label  button{
    display: block;
    padding: 1em .8em;
    font-size: clamp(1rem , .875rem + 1vw, 1.5rem);
    text-transform: uppercase;
    background-color: rgb(255, 255, 255, .5);
    border: none;
    cursor: pointer;


}

.blogs-container{
    
    padding: 3em 0;
}

.blog-container{
    width: 80%;
    margin: 0 auto;
}


.blog{
    background-color: #fff;
    text-align: center;
    padding: 3em 0;
}

.blog + .blog{
    margin-top: 2em;
}

.blog_img{
    width: 100%;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.likeBtn{
    padding: .3em 1em;
    background-color: transparent;
    border: 1px solid #000;
    font-size: 30px;
}

.replies{
    background-color: #000;
    color: #fff;
    border: none;
}

.rep-span{
    background-color: #fff;
    color: #000;
    padding: 0 .7em;
    margin-left: .3em;
    
}

.buttons button{
    font-size: clamp(1rem, .875rem + 1vw, 2rem)
}

.comments{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin:  0 auto;
    row-gap: 50px;
    position: relative;
}



.comment img{
    width: 200px;
    object-fit: cover;
    aspect-ratio: 1/ 1.1;
       
}

hr{
    width: 100%;
    margin: 3em  0;
}

.reply span{
    margin-left: 1em;
    opacity: .7;
    
}
.comment-btn{
    background: #000;
    color: #fff;
    padding: .2em 1em;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    right: 20px;
    border-radius: 5px;
    border: none;
}
.comment-section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: rgb(0, 0, 0, .2);
    display: none;
}
#form{
    background: #fff;
    padding: 1.5em;
    position: relative;
    width: 90%;
    border-radius: 10px;
}

#form input{
    padding: .8em;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid black;
    display: block;
    margin-bottom: 1.1em;
    outline: none;
    width: 100%;
}
#form input[type = 'submit']{
    width: 100%;
    background: #000;
    color: #fff;
}
textarea{
    width: 100%;
    height: 170px;
    outline: none;
    resize: none;
    margin-bottom: 1.1em;
}
#close_btn{
    position:absolute;
    top: 0;
    right: 0; 
    padding: .2em .5em;
    background: #000;
    color: #fff;
    font-size: 1.5rem;
}
.form_header{
    text-align: center;
}
.intro{
    display: grid;
}
.intro_img{
    width: 100%; 
}
.info{
    background: #000;
    color: #fff;
    padding: 1em;
}
.info_name{
    margin-top: 0;
}
.info_about{
    line-height: 1.5;
}
.posts{
    background-color: #fff;
    margin-top: 2.5em;
 }
.section_header{
    background-color: black;
    color: #fff;
    padding: 1em;
    
}
 .section_title{
    letter-spacing: 2px;
 }
.posts_list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.post_item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    column-gap: 20px ;
}

.post_img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    
}
.posts, .adverts, .tags{
    background-color: #fff;
    margin-top: 2.5em;
}

.advert_section{ 
    padding: 1em; 
}

.advert_box{
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 50vh;
}
.advert_box p{
    font-size: clamp(1.1rem, .875rem + 1vw, 1.3rem);
}

.tag_box{
   padding: 0 1em;
}

.tag{
    background-color: #eee;
    display: inline-block;
    padding: .5em 1em;
    margin: .5em 0;
    font-size: .7rem;

}

.active{
    background-color: black;
    color: #fff;
}

@media (min-width: 800px){
    .hero_text .name_tag{
        font-size: 3rem;
    }

    .fashion_tag{   
        display: block;
    }

    header{
        display: block;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .search{
        margin-left: auto;
    }
    .nav a{
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
    }
    .nav a i + .nav a i{
        margin-left: 1em;
    }

    .nav a i{
        font-size: 1.3rem; 
    }
    .comment{
        display: flex;
    }
    .reply{
        margin-left: 2em;
        
    }
    .reply h4{
        margin-top: 0;
    }

    


}
}
